{% extends "base.html" %}

{% block libs %}
<!-- <script type="text/javascript" async data-main="/javascripts/config" src='/javascripts/require.js'></script>-->
<script src="https://cdn.jsdelivr.net/pyodide/v0.23.2/full/pyodide.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/pyodide/pyodide.min.js "></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/atom-one-light.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>  
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script                      id="MathJax-script"                      async
			     src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  

{% endblock %}


